---
layout: default
title: Blog Page
banner-image: /assets/images/bg-sanddune.jpg
text-color: '#c66868'
text-position: items-center
banner-height: min-h-[35vh]
background-position: bg-center left-[20%]
heading: Exploring <br>Sumbawa.
subheading: >-
  Nature teaches you to appreciate the finer things in life, to be present, live
  in the moment and just breath.
link_url: read more
link_text: Read More
seo:
  title:
  description:
  social_image:
  twitter_card:
  keywords:
  hide-from-google: false
---
{% include hero-banner.html %}

<!-- Recent Blog Tiles -->
<section class="p-5p">
    <div class="max-w-screen-xl mx-auto">
        <h2 class="pb-8 text-4xl text-center uppercase blog-subheading">Recently on the Blog</h2>

        <div class="sm:columns-3">
        {% for post in site.posts %}
            <div class="p-2">
            {% include post_loop-recent.html %}
            </div>
        {% endfor %}
        </div>
    </div>
</section>