---
layout: default
title: Homepage
banner-image: /uploads/travel/travel-2.jpg
intro_image: /uploads/travel/travel-3.jpg
upcoming_image: /uploads/travel/travel-4.jpg
text-color: text-white
text-position: items-center
banner-height: min-h-[60]
background-position: bg-center
heading: A whole new world.
subheading: Surfing Teaches you to appreciate the finer things in life, to be present, live in the moment  and just breath.
seo:
  title: 
  description:
  social_image:
  twitter_card:
  keywords:
  hide-from-google: false
---

{% include hero-banner.html %}

<!-- Home Page Intro -->
<section class="p-5p">
    <div class="grid md:grid-cols-2 gap-2">
        <div class="bg-cover" style="background-image: url('{{page.intro_image}}');"></div>
        <div class="py-10 p-4">
            <h2 class="md:-ml-28 p-4 max-w-[250px] bg-[#d5d1cd] text-3xl ml-0">A fascinating heading about the site</h2>
            <div>
                <p class="py-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere saepe possimus quidem? Ratione recusandae eveniet perferendis modi. Odit expedita consequuntur velit aut sequi modi asperiores eius earum, repellat minima hic?</p>
                <a class="uppercase py-2 underline" href="/blog.html">Read More</a>
            </div>
        </div>
</section>

{% include upcoming-travel.html %}

<h2 class="uppercase text-4xl text-black text-center">Recently on the Blog</h2>
{% include post-loop-featured.html %}


