---
layout: default
title: Homepage
banner-image: /assets/images/bg-boat.jpg
intro_image: /assets/images/travel/travel-3.jpg
upcoming_image: /assets/images/bg-city.jpg
text-color: '#000000'
text-position: items-center
banner-height: min-h-[35vh]
background-position: bg-center left-[20%]
heading: A whole <br>new world.
subheading: >-
  Surfing Teaches you to appreciate the finer things in life, to be present,
  live in the moment  and just breath.
seo:
  title:
  description:
  social_image:
  twitter_card:
  keywords:
  hide-from-google: false
---
{% include hero-banner.html %}

<!-- Home Page Intro -->
<section class="p-5p bg-blog-section">
    <div class="grid max-w-screen-xl gap-2 mx-auto md:grid-cols-2">
        <div class="bg-cover" style="background-image: url('{{page.intro_image}}');"></div>
        <div class="p-4 py-10">
            <h2 class="max-w-sm p-4 ml-0 text-4xl text-center md:-ml-60 bg-blog-light blog-heading editable">A fascinating heading about the site</h2>
            <div>
                <div class="editable">
                  <p class="py-4 blog-type2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere saepe possimus quidem? Ratione recusandae eveniet perferendis modi. Odit expedita consequuntur velit aut sequi modi asperiores eius earum, repellat minima hic?</p>
                </div>
                <a class="py-2 blog-link blog-subheading editable" href="/blog.html">Read More</a>
            </div>
        </div>
</div></section>

{% include upcoming-travel.html %}

<section class="p-5p bg-blog-section">
    {% include post_loop-featured.html %}
</section>

