---
layout: default
title: Shop
banner-image: /assets/images/bg-sandwalker.jpg
top-text: Shop Our
text-color: text-white
text-position: items-center
banner-height: min-h-[35vh]
background-position: bg-bottom left-0
heading: Curanted <br>Collection.
subheading: Nature teaches you to appreciate the finer things in life, to be present, live in the moment and just breath.
quote: Once you get a taste for travel, you'll never be the same.
quote-image: /assets/images/bg-sanddune.jpg
seo:
  title: 
  description:
  social_image:
  twitter_card:
  keywords:
  hide-from-google: false
---

{% include hero-banner.html %}

<section class="p-5p">
	<div class="max-w-screen-xl mx-auto">
		<!-- Travel Guides -->
		<h2 class="blog-subheading text-4xl lg:text-6xl text-center pb-6">Travel Guides</h2>
		<div class="grid sm:grid-cols-3">
			{% for product in site.products-guides limit:3 %}
				{% include collection-loop.html %}
			{% endfor %}
		</div>
	</div>
</section>

{% include quote-banner.html %}

<section class="p-5p">
	<div class="max-w-screen-xl mx-auto">
		<!-- Presents -->
		<h2 class="blog-subheading text-4xl lg:text-6xl text-center pb-6">Lightroom Presets</h2>
		<div class="grid sm:grid-cols-3">
			{% for product in site.products-presets limit:3 %}
				{% include collection-loop.html %}
			{% endfor %}
		</div>
	</div>
</section>