/* ----------- Color Variables --------- */
/* Looking for the color variables? They have been moved to the inline-styles file in the _includes folder, and pull variables from the site-settings folder in the _data folder.  */

/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS */

@layer components {
    .flex-center {
      @apply flex justify-center items-center;
    }
}

/* ----------- CSS RESET --------- */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: color 0.5s, background-color 0.5s, width 0.5s;
}
  
img { max-width: 100%; height: auto; }

section { position: relative; }

div {
    background-size: cover;
    background-position: center;
}

.tag {
    @apply uppercase text-zinc-600 text-xs tracking-wide;
}

.button {
    @apply border p-4 uppercase;
}

.logo {
    position: relative;
    top: 8px;
    font-size: 4rem;
}

/* Typography */
body {
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
}

#blog-heading {
    font-family: 'Italiana', serif;
    line-height: 85%;
    font-weight: 400;
}

#blog-subheading {
    font-family: 'Italiana', serif;
    font-weight: 300;
    line-height: 85%;
    letter-spacing: 11%;
    text-transform: uppercase;
}

.blog-link {
    text-decoration-line: underline;
    --tw-text-opacity: 1;
    color: rgb(87 83 78 / var(--tw-text-opacity));
    font-size: 1.3rem;
}

#blog-type1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    line-height:135%;
    text-transform: uppercase;
}
#blog-type2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    line-height: 180%;
    letter-spacing: 3%;
}