<section class="p-5p">
    <h2 class="blog-subheading text-4xl pb-4">FAQ's</h2>
    <div class="text-blog-dark">
        <hr class="border-blog-dark">
        {% for item in site.data.how-to.faqs %}
        <div class="pt-4 flex justify-between">
            <h3 class="blog-type1 text-xl">{{item.question}}</h3>
            <h3 class="blog-type1 text-xl w-5">&#8250;</h3>
        </div>
        <div class="py-4">
            <p>{{item.answer}}</p>
        </div>
        <hr class="border-blog-dark">
        {% endfor %}
    </div>
</section>
