<section class="">
    <div class="relative {{page.banner-height}} {{page.text-position}} text-[{{page.text-color}}] flex justify-start">
        <div class="absolute z-[-1] top-0 bottom-0 right-0 bg-cover {{page.background-position}}" style="background-image: url('{{page.banner-image}}')"></div>
        <div class="mt-12 ml-12 text-left mb">
            <h3 class="blog-type1">{{page.top-text}}</h3> 
            <h2 class="mb-4 text-[12vw] blog-heading"> {{page.heading}} </h2> 
            <h3 class="max-w-sm mb-4 blog-type1"> {{page.subheading}} </h3> 
            {% if page.link_url ? %}
                <a class="uppercase blog-link" href={{page.link_url}}>{{page.link_text}}</a>
            {% endif %}
        </div> 
    </div>
</section>