<section class="px-5p">
    <div class="grid sm:grid-cols-6 max-w-screen-xl mx-auto">
        <div class="col-span-2 py-8 self-center">
            <h2 class="blog-subheading text-2xl pb-4">How to Use Your Presets</h2>
            <ul class="list-disc ml-6">
                {% for item in site.data.how-to.instructions %}
                    <li>{{item.step}}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="py-8 col-span-4">
            {% include video.html 
                vimeo-id=site.data.how-to.presets-instructions-vimeo-id %}
        </div>
    </div>
</section> 