<section class="grid grid-cols-3 p-5p">
    <div class="h-full py-20">
        <h2 class="blog-subheading text-4xl pb-4">How to Use Your Presets</h2>
        <ul class="list-disc ml-6">
            <li>Lorem ipsum dolor sit </li>
            <li>Consectetur adipisicing elit</li>
            <li>Lorem ipsum dolor sit </li>
            <li>Consectetur adipisicing elit</li><li>Lorem ipsum dolor sit </li>
            <li>Consectetur adipisicing elit</li>
        </ul>
    </div>
    <div class="col-span-2">
        <div class="aspect-video" style="background-image: url('{{page.featured_image}}');"></div>
    </div>
</section>