<!-- post-loop-recently.html -->
<!-- ensure parent has .grid -->
<!-- Loops with variable aspect ratios -->
<a href="{{ post.url }}" class="group break-inside-avoid block bg-zinc-50 hover:bg-zinc-100">
    <div class="bg-cover group-hover:grayscale relative
        {% cycle 'aspect-square', 'aspect-square', 'aspect-[2/3]','aspect-[4/3]','aspect-[2/3]', %}">
        <img src="{{ post.featured_image }}" class="absolute inset-0 h-full w-full object-cover">
    </div>
    
    <div class="p-4 relative bg-blog-section">
        <h2 class="mt-1 mb-2 text-2xl capitalize"> {{ post.title }} </h2>
        <p class="text-zinc-600 line-clamp-2 max-sm:hidden mb-2"> {{ post.description }} </p>
        <span class="underline hover:text-blue-600 uppercase" href="{{ post.url }}">Read More</span>
        <p class="py-1">
            {% for item in post.categories %}
                <span class="tag"> {{item}} </span>
            {% endfor %}
        </p>

    </div>
</a>