<!-- post-loop-featured.html -->
<h2 class="pb-2 text-4xl text-center uppercase blog-subheading editable">Recently on the Blog</h2>
<div class="grid max-w-screen-xl mx-auto md:grid-cols-4">
    {% assign featured_posts = site.posts | where: 'featured', true %}

    {% for post in featured_posts limit:3 %}
        <a class="group p-2 break-inside-avoid mb-4
            {% cycle 'col-span-1', 'md:col-span-2', 'col-span-1' %}" 
            href="{{ post.url }}">

            <div class="bg-cover min-h-[200px]" style="background-image:url( '{{ post.featured_image }}' );"></div>
            
            <div class="p-4 group-hover:bg-blog-light">
                <h2 class="mt-1 text-2xl line-clamp-1 blog-type1"> {{ post.title }} </h2>
                <p class="blog-type2 line-clamp-3">{{post.description}}</p>
                <hr class="w-10 mt-4 mb-2 border-t-2 border-rose-600"> 
                <p class="text-xs tracking-wide uppercase text-zinc-600"> 
                    <span class="mr-1 font-bold">{{ post.author }}</span> {{ post.date | date_to_string }} 
                </p>

            </div>
        </a>
    {% endfor %}
</div>
