
<!-- Since the post loop item uses a column class, make sure the parent container has a grid -->

    <a href="{{ post.url }}" class="group break-inside-avoid block bg-zinc-50 hover:bg-zinc-100">
            
            <div class="bg-cover group-hover:grayscale {{post.aspect-ratio}} relative">
                <img src="{{ post.featured_image }}" class="absolute inset-0 h-full w-full object-cover">
            </div>
            
            <div class="p-4 relative bg-white">
                <h2 class="mt-1 mb-2 text-2xl capitalize"> {{ post.title }} </h2>
                <p class="text-zinc-600 line-clamp-2 max-sm:hidden"> {{ post.description }} </p>
                <span class="underline hover:text-blue-600 uppercase" href="{{ post.url }}">Read More</span>
                <p>
                    {% for item in post.categories %}
                        <span class="tag"> {{item}} </span>
                    {% endfor %}
                </p>

            </div>
    </a>


