
<!-- Since the post loop item uses a column class, make sure the parent container has a grid -->

    <a href="{{ post.url }}" class="block mb-4 bg-stone-100 group">
        <div class="grid grid-cols-4">
            <div class="relative col-span-1 pb-1/1 group-hover:grayscale">
                <img src="{{ post.featured_image }}" class="absolute inset-0 object-cover w-full h-full lazy">
            </div>
            <div class="self-center col-span-3 p-4">
                <p class="max-sm:hidden">
                {% for item in post.categories %}
                    <span class="tag"> {{item}} </span>
                {% endfor %}
                </p>
                <h2 class="mt-1 mb-2 font-serif sm:text-3xl"> {{ post.title }} </h2>
                <hr class="w-0 mb-1 -mt-1 border-2 group-hover:border-rose-400 group-hover:w-20"> 
                <p class="text-zinc-600 line-clamp-2"> {{ post.description }} </p>
            </div>
        </div>
    </a>
    

