
<a class="p-2 block {{include.type}}" href="{{ product.url }}">
    <div class="aspect-square bg-[url('{{ product.hover-image }}')] bg-cover bg-center relative">
        <img src="{{ product.featured-image }}" alt="{{product.title}}" class="hover:opacity-0 transition-opacity absolute inset-0 w-full h-full object-cover object-center">
    </div>
    <div class="p-8 relative bg-stone-100">
        
        <span class="tag bg-stone-200 text-xs mb-2"> {{include.type}} </span>
        <h2 class="font-serif text-2xl"> {{ product.title }} </h2>
        <p class="line-clamp-3 tracking-wide mb-4 text-xs"> {{ product.description }}</p>
        <p class="font-serif text-xl"> ${{product.price}} </p>

    </div>
</a>