<footer class="text-white p-5p bg-zinc-900">
  <div class="max-w-screen-xl grid-cols-3 mx-auto md:grid">
      <div class="p-4">
        <a href="#" class="block mb-4 font-serif text-4xl editable"> MOJO </a>
        <p class="editable"> Lorem ipsum dolor sit amet consectetur adipisicing elit sint dignissimos magni vitae. </p>
      </div> 
      <nav class="p-4">
        <h2 class="p-1 font-bold tracking-wide editable"> MORE MOJO Adventures </h2>
        <a href="/blog-archive-list" class="block p-1 text-sm tracking-wide uppercase editable"> Blog Archive List </a>
        <a href="/blog-archive" class="block p-1 text-sm tracking-wide uppercase editable"> Blog Archive </a>
      </nav> 
      <nav class="p-4">
        <h2 class="p-1 font-bold tracking-wide editable"> CONNECT WITH US </h2>
        <a href="#" class="block p-1 text-sm tracking-wide uppercase editable"> Instagram</a>
        <a href="#" class="block p-1 text-sm tracking-wide uppercase editable"> Facebook </a>
        <a href="#" class="block p-1 text-sm tracking-wide uppercase editable"> LinkedIn </a>
        <a href="#" class="block p-1 text-sm tracking-wide uppercase editable"> TikTok </a>
      </nav> 
    </div>
</footer>
  