<section class="p-5p">
    <h2 class="uppercase pb-8 text-4xl text-center font-light">Past Travel Destinations</h2>
    <div class="grid md:grid-cols-5">
        <div class="col-span-3 p-4">
            <div class="text-white">
                <hr>
                {% for item in site.data.destinations %}
                <div class="py-3 flex justify-between">
                    <h3>{{item.country}}</h3>
                    <h3>{{item.dates}}</p>
                </div>
                <hr>
                {% endfor %}
            </div>
        </div>
        <div class="bg-cover col-span-2 relative" style="background-image: url('{{page.upcoming_image}}');">
            <div class="max-md:hidden absolute top-2/3 left-0 max-w-xs p-4 bg-[#99938F] text-3xl tracking-widest"><h2>Currently In...</h2></div>
        </div>
</section>
