<section class="p-5p bg-stone-200">
    <div class="max-w-screen-xl mx-auto">
        <!-- Peak Inside -->
        <div class="pb-4">
            <h2 class="blog-subheading text-4xl text-center pb-6">What's Inside</h2>
            
            {% include thumbnail-gallery.html %}
            
        </div>

        <!-- Bottom Grid -->
        <div class="grid grid-cols-5 pt-8">
            <!-- Table of Contents -->
            <div class="col-span-3 px-4">
                <h4 class="blog-subheading text-2xl pb-4">Table of Contents</h4>
                <hr class="border-blog-dark">
                {% for item in site.data.destinations.guide-contents %}
                <div class="py-3 flex justify-between">
                    <h3 class="blog-type1">{{item.country}}</h3>
                    <h3 class="blog-type1">{{item.dates}}</h3>
                </div>
                <hr class="border-blog-dark">
                {% endfor %}    
            </div>
            <!-- Whats Included List -->
            <div class="col-span-2 px-4">
                <h4 class="blog-subheading text-2xl">What's Included</h4>
                <ul class="list-disc m-6">
                    {% for item in site.data.how-to.instructions %}
                        <li>{{item.step}}</li>
                    {% endfor %}
                </ul>
                <a class="button" href="">ADD TO CART</a>
                <a class="mx-2" href="">❤️ Add to wishlist</a>
            </div>
        </div>
    </div>
</section>