<!DOCTYPE html>
<html lang="en">

<head>

    {% include head.html %}

</head>

<body class="bg-blog-light">

    {% include inline-styles.html %}
    
    {% include site-header.html %}

    {{content}}

    {% include site-footer.html %}

    
    <!----------------- Javascript  --------------------------------->

    <!-- Alpine -->
    <script src="//unpkg.com/alpinejs" defer></script>

    <!-- Memberspace -->
    <script> var MemberSpace = window.MemberSpace || {"subdomain":"viasana"}; 
        (function(d){ 
          var s = d.createElement("script"); 
          s.src = "https://cdn.memberspace.com/scripts/widgets.js"; 
          var e = d.getElementsByTagName("script")[0]; 
          e.parentNode.insertBefore(s,e); 
        }(document)); </script>
        
    <!-- Keep main.js at the end -->
    <script src="/main.js"></script>
    
</body>

</html>