---
layout: default
---

<section class="grid grid-cols-2">
    <div class="p-10p">
        <h2 class="pt-32 text-4xl blog-heading">{{page.title}}</h2>
        <h3 class="py-4 blog-type1 text-xl">{{page.subtitle}}</h3>
        <div class="pb-4 blog-type2">{{content}}</div>
        <a class="button" href="{{page.product-url}}">Buy Now</a>
    </div>
    <div class="relative">
        <img class="absolute inset-0 object-cover h-full w-full" src="{{page.featured_image}}" alt="{{page.title}} Example">
    </div>
</section>

<section class="p-5p">
    <!-- Before After Slider -->

    <div class="grid grid-cols-5 max-w-screen-xl mx-auto">
        <div class="col-span-3 p-8">
            {% include before-and-after.html %}
        </div>
        <div class="p-8 py-20 col-span-2 self-center">
            <h2 class="blog-subheading text-2xl pb-4">Before & After</h2>
            <p>{{site.data.how-to.before-and-after-description_html}}</p>
        </div>
    </div>
</section>


{% include how-to-use.html %}

{% include faqs.html %}


<!-- Write the plan --

2 col section
    text div
        h2: product.name
        sub: product.subtitle
        copy: product.description
        button url:
    button
    img: product.img
5 col section
    (3col) interactive image gallery
        nested 6col grid array
    (2col) text
        before and after title
        copy: product.preset-description
include how to use 
    text col
    video col
include faqs
    data.faq question
    dropdown
include related products 
    3 col
        tag
        title
        description
        price

    






-->