---
layout: default
---
<!-- Travel Guides Layout -->
<section class="max-w-screen-xl mx-auto">
    <div class="grid grid-cols-2">
        <div class="p-10p">
            <h2 class="pt-32 text-4xl blog-heading">{{page.title}}</h2>
            <h3 class="py-4 blog-type1 text-xl">{{page.subtitle}}</h3>
            <div class="pb-4 blog-type2">{{content}}</div>
            <a class="button" href="{{page.product-url}}">Buy Now</a>
        </div>
        <div class="relative">
            <img class="absolute inset-0 object-cover h-full w-full" src="{{page.featured_image}}" alt="{{page.title}} Example">
        </div>
    </div>
</section>

{% include whats-inside.html %}



<!-- Related Products -->
<section class="p-5p">
    <h2 class="blog-subheading text-4xl text-center pb-4">Related Products</h2>
    <div class="grid sm:grid-cols-3 max-w-screen-xl mx-auto">
        {% for product in site.products-guides limit:3 %}
            {% include product-loop-related.html type='Travel Guide' %}
        {% endfor %}
    </div>
</section>