---
layout: default
---
<!-- Travel Guides Layout -->
<section class="max-w-screen-xl mx-auto"> 
    <div class="grid gap-4 md:grid-cols-2 md:min-h-70">
        <div class="self-end max-w-lg px-8 py-12 xl:px-0">
            <h1 class="text-6xl blog-heading">{{page.title}}</h1>
            <h2 class="py-4 text-2xl uppercase blog-type2"> {{page.subtitle}}</h2>
            <div class="mb-6"> {{content}} </div>
            
            {% include shopify_buy.html buy-button-id=page.buy-button-id %}
            
        </div>
        <div class="relative max-md:hidden">
            <img src="{{page.featured_image}}" class="absolute inset-0 object-cover w-full h-full min-h-50">
        </div>
    </div>
</section>

{% include whats-inside.html %}

<!-- Related Products -->
<section class="p-5p">
    <h2 class="pb-4 text-4xl text-center blog-subheading">Related Products</h2>
    <div class="grid max-w-screen-xl mx-auto sm:grid-cols-3">
        {% for product in site.products-guides limit:3 %}
            {% include product_loop-related.html type='travel guides' %}
        {% endfor %}
    </div>
</section>