---
layout: default
---
<!-- Travel Guides Layout -->
<section class="max-w-screen-xl mx-auto"> 
    <div class="grid md:grid-cols-2 gap-4 md:min-h-70">
        <div class="py-12 self-end max-w-lg px-8 xl:px-0">
            <h1 class="text-6xl blog-heading">{{page.title}}</h1>
            <h2 class="text-2xl uppercase blog-type2 py-4"> {{page.subtitle}}</h2>
            <div class="mb-6"> {{content}} </div>
            
            {% include shopify_buy.html buy-button-id=page.buy-button-id %}
            
        </div>
        <div class="relative max-md:hidden">
            <img src="{{page.featured_image}}" class="min-h-50 absolute inset-0 h-full w-full object-cover">
        </div>
    </div>
</section>

{% include whats-inside.html %}

<!-- Related Products -->
<section class="p-5p">
    <h2 class="blog-subheading text-4xl text-center pb-4">Related Products</h2>
    <div class="grid sm:grid-cols-3 max-w-screen-xl mx-auto">
        {% for product in site.products-guides limit:3 %}
            {% include product-loop-related.html type='Travel Guide' %}
        {% endfor %}
    </div>
</section>